<div id='user'>
    <label>
        Username:
        <input type="text" [formControl]="username">
    </label>
    <label>
        Email:
        <input type="text" [formControl]="email">
    </label>
    <label>
        Password:
        <input type="password" [formControl]="password">
    </label>
    <label>
        Street:
        <input type="text" [formControl]="street">
    </label>
    <label>
        ZIP Code:
        <input type="text" [formControl]="zip">
    </label>    <label>
        City:
        <input type="text" [formControl]="city">
    </label>
    <button (click)="createUser()">Submit</button>
    <div *ngIf="submitted">
        <div>Username: {{user.username}}</div>
        <div>Email: {{user.email}}</div>
        <div>Password: {{user.password}}</div>
        <div>Address: {{user.address.street}} {{user.address.zip}} {{user.address.city}}</div>
    </div>
</div>


