
<form class="user" [formGroup]="userForm" (ngSubmit)="createUser()" >
    <div class="user">
        <label for="username">Username:
            <input type="text" formControlName="username">
        </label>
    </div>
    <div class="user" formGroupName="credentials">
        <label for="email">Email:
            <input type="text" formControlName="email">
        </label>
        <label for="password">Password:
            <input type="password" formControlName="password">
        </label>
    </div>
    <div class="user" formGroupName="address">
        <label for="street">Street:
            <input type="text" formControlName="street">
        </label>
        <label for="zip">Zip Code:
            <input type="text" formControlName="zip">
        </label>
        <label for="city">City:
            <input type="text" formControlName="city">
        </label>
    </div>
    <button type="submit">Submit</button>
</form>